* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(to bottom, #c9dbe9, #fafafa, #c9dbe9);
  background: linear-gradient(to bottom, #c9dbe9, #fafafa, #c9dbe9);
  background: -moz-linear-gradient(to bottom, #c9dbe9, #fafafa, #c9dbe9);
  font-family: Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.game {
  margin: auto auto;
  text-align: center;
  line-height: 4.375rem;
  width: 20.375rem;
  height: 20.375rem;
  background: #c9dbe9;
  padding: .5rem;
  border-radius: .25rem;
}

.game .cell {
  width: 4.375rem;
  height: 4.375rem;
  margin-right: 7px;
  border-radius: 4px;
  margin-bottom: 7px;
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  color: #333;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: absolute;
}

.game .cell:hover {
  background: #00bcd4;
  color: #fafafa;
}

.empty {
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
}

.puzzle {
  font-family: 'Great Vibes', cursive;
  margin: 0 auto;
  text-align: center;
  line-height: 2.375rem;
}

.new-game-btn {
  height: 2.5rem;
  padding: 0 .5rem;
  border-radius: .5rem;
  margin: auto .5rem;
  background-color: #fafafa;
  font-size: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.new-game-btn:hover {
  background: #00bcd4;
  color: #fafafa;
}

.upper-action-div {
  display: flex;
  background: #c9dbe9;
  margin: .5rem auto;
  border-radius: 0.25rem;
  width: 20.375rem;
}

.metrics {
  display: flex;
  background: #fafafa;
  border-radius: .25rem;
  margin: .25rem;
}

.text-right {
  text-align: right;
}

.upper-action-div-info {
  margin: auto 0.5rem;
  height: 3rem;
  width: 5rem;
}

.xxl {
  font-size: xx-large;
}

.heading-title {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  font-style: italic;
  margin: 2rem auto;
  color: #00bcd4;
}

.horizon {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin: .2rem;
}

.created-by {
  line-height: 1.4rem;
  padding: 0;
  font-size: 1.125rem;
  font-family: monospace;
  font-weight: bold;
  margin: 0;
}

.instruction {
  font-weight: lighter;
  margin: 1rem 0;
}

.icon {
  vertical-align: middle;
  color: darkgrey;
  font-size: 1.2rem;
  margin: 0 .6rem;
}

.icon:hover {
  color: lightgray;
}